// 垂直导航项图标通用样式
// 此处非导航组子项样式
%vertical-nav-items-icon {
  font-size: 1.375rem;
  margin-inline-start: 0.3rem;
}

// 垂直导航项徽章样式
%vertical-nav-item-badge {
  line-height: 1rem;
  margin-inline-end: 0.5rem;
}

// 与 %vertical-nav-item 相同，只是排除了节标题
%vertical-nav-item-interactive {
  block-size: 2.375rem;
  margin-block-end: 0.25rem;
}
