// ================================================================================================
//   文件名：pallette-noui.scss
//   描述：noui 系统颜色样式
//   ----------------------------------------------------------------------------------------------
//   项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
//   著作人：Albert.Z
//   官网：http://www.rexotech.cn/
// ================================================================================================

// 调色板
@import 'palette-variables';

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == 'base' {
      .slider-#{$color_name} {
        background-color: rgba($color_value, 0.12);
        .noUi-connect {
          background: $color_value !important;
        }
        &.noUi-connect {
          background: $color_value !important;
        }
        .noUi-handle {
          border-color: $color_value !important;
        }
      }
    }
  }
}
