// ================================================================================================
//  文件名：vertical-overlay-menu.scss
//  描述：默认折叠，鼠标悬停时展开的垂直导航遮罩布局主导航栏 SCSS 文件，
//       支持浅色/深色，翻转布局（从右到左），右侧图标，滚动条和菜单项分隔。
//  ----------------------------------------------------------------------------------------------
//  项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
//  著作人：Albert.Z
//  官网：http://www.rexotech.cn/
// ================================================================================================

@import '../../../bootstrap-extended/include';
@import '../../../components/include';

// 导入第一个导航主菜单混入
@import '../../mixins/main-menu-mixin';

// 垂直导航遮罩布局
.vertical-overlay-menu {
  // 内容展开
  .content {
    @include main-menu-width(0);
  }
  // 副导航栏展开
  .navbar {
    .navbar-header {
      @include menu-navbar-width($menu-expanded-width);
    }
  }
  // 主导航栏展开
  .main-menu {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: width 0.25s, opacity 0.25s, transform 0.25s;
    width: $menu-expanded-width;
    left: -($menu-expanded-width);

    .navigation {
      > li {
        > a {
          > svg,
          > i {
            margin-right: 14px;
            float: left;
            transition: 200ms ease all;
            height: 20px;
            width: 20px;
            &:before {
              transition: 200ms ease all;
              font-size: 1.429rem;
            }
          }
        }
      }
      li {
        @include vertical-menu-has-sub-arrow(1rem);
      }

      .navigation-header {
        .feather-more-horizontal {
          display: none;
        }
      }
    }
  }
  &.menu-open {
    .main-menu {
      opacity: 1;
      transform: translate3d($menu-expanded-width, 0, 0);
      transition: width 0.25s, opacity 0.25s, transform 0.25s;
    }
  }
  &.menu-hide {
    .main-menu {
      @extend .main-menu;
    }
  }
}
