@import '~@core/scss/base/pages/page-knowledge-base.scss';

// 列表组中的圆圈焦点/激活态
.list-group-circle {
  .list-group-item-action {
    &:focus,
    &:active {
      background-color: transparent;
    }
  }
}

.question-content {
  ul {
    li {
      a {
        color: inherit;
      }
      margin-bottom: 1rem;
    }
  }
}
