// Apex 图表

.apexcharts-canvas {
  // 文字提示颜色
  .apexcharts-tooltip {
    color: $body-color !important;
    &.apexcharts-theme-dark {
      color: $white !important;
    }
  }
  // 工具栏下载选项颜色
  .apexcharts-toolbar {
    .apexcharts-menu {
      .apexcharts-menu-item {
        color: $body-color;
      }
    }
  }

  // 图表字体
  .apexcharts-text,
  .apexcharts-datalabel {
    font-family: $font-family-base !important;
  }
}

// Apex 图表文字提示
.apexcharts-xaxistooltip {
  color: $body-color !important;
}

// 工具栏层级
.apexcharts-toolbar {
  z-index: 10;
}
