// ================================================================================================
//  文件名：app-invoice-print.scss
//  描述：账单应用打印 SCSS 文件
//  ----------------------------------------------------------------------------------------------
//  项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
//  著作人：Albert.Z
//  官网：http://www.rexotech.cn/
// ================================================================================================

@import '../bootstrap-extended/include';

html,
body {
  background: $white !important;
}

.invoice-print {
  min-width: 768px !important;
  font-size: 15px !important;

  .invoice-date-wrapper {
    display: flex;
    align-items: center;

    .invoice-date-title {
      width: 8rem;
    }
  }

  i,
  svg {
    fill: $body-color !important;
  }

  .invoice-total-wrapper {
    width: 100%;
    max-width: 12rem;
    .invoice-total-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .invoice-total-title {
        // width: 92px;
        margin-bottom: 0.35rem;
      }
      .invoice-total-amount {
        margin-bottom: 0.35rem;
        font-weight: 600;
      }
    }
  }
}

.invoice-print * {
  border-color: rgba($color: $black, $alpha: 0.5) !important;
  color: $body-color !important;
}
