// ================================================================================================
//  文件名：dashboard-ecommerce.scss
//  描述：电商模板页 SCSS 文件
//  ----------------------------------------------------------------------------------------------
//  项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
//  著作人：Albert.Z
//  官网：http://www.rexotech.cn/
// ================================================================================================

@import '../bootstrap-extended/include';
@import '../components/include';

// 统计卡片
.card-statistics {
  .statistics-body {
    padding: 2rem 2.4rem !important;
  }

  @include media-breakpoint-down(md) {
    .card-header,
    .statistics-body {
      padding: 1.5rem !important;
    }
  }
}

// 企业表格卡片
.card-company-table {
  thead th {
    border: 0;
  }
  td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    .avatar {
      background-color: $body-bg;
      margin-right: 2rem;

      img {
        border-radius: 0;
      }
    }
  }
}

// 浏览器状态卡片
.card-browser-states {
  .browser-states {
    &:first-child {
      margin-top: 0;
    }
    &:not(:first-child) {
      margin-top: 1.7rem;
    }
  }
}

// 交易列表卡片
.card-transaction {
  .transaction-item {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
