// ================================================================================================
// 	文件名：page-profile.scss
// 	描述：不同于博客用户详情的个人主页页面 SCSS 文件
// 	----------------------------------------------------------------------------------------------
// 	项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
// 	著作人：Albert.Z
// 	官网：http://www.rexotech.cn/
// ================================================================================================

@import '../bootstrap-extended/include';
@import '../components/include';

// 个人主页样式
#user-profile {
  // 个人主页顶部卡片
  .profile-header {
    overflow: hidden;

    // 顶部卡片图片容器
    .profile-img-container {
      position: absolute;
      bottom: -2rem;
      left: 2.14rem;
      z-index: 2;

      // 个人主页图片背景
      .profile-img {
        height: 8.92rem;
        width: 8.92rem;
        border: 0.357rem solid $white;
        background-color: $white;
        border-radius: $card-border-radius;
        box-shadow: $box-shadow;
      }
    }

    // 个人主页导航栏填充
    .profile-header-nav {
      .navbar {
        padding: 0.8rem 1rem;

        // 导航切换按钮
        .navbar-toggler {
          line-height: 0;
        }
        .profile-tabs {
          .nav-item {
            i,
            svg {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  // 个人主页信息列表部分
  #profile-info {
    // 星星图标
    .profile-star {
      color: $gray-100;

      i,
      svg {
        // 图标填充
        &.profile-favorite {
          fill: $warning;
          stroke: $warning;
        }
      }
    }

    // 心形图标填充
    .profile-likes {
      fill: $danger;
      stroke: $danger;
    }

    // 进度条高度
    .profile-polls-info {
      .progress {
        height: 0.42rem;
      }
    }
  }

  // 相册图片及悬停态动画
  .profile-latest-img {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateY(-4px) scale(1.2);
      z-index: 10;
    }
    img {
      margin-top: 1.28rem;
    }
  }

  // 加载更多 - 添加空白元素
  .block-element {
    .spinner-border {
      border-width: 0.14rem;
    }
  }
}

// 相册图片尺寸
@include media-breakpoint-down(md) {
  #user-profile {
    .profile-latest-img {
      img {
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  // 导航栏图标填充
  .profile-header-nav {
    .profile-tabs {
      width: 100%;
      margin-left: 13.2rem;
    }
  }
}

// 个人主页图片和标题
@include media-breakpoint-down(xs) {
  #user-profile {
    .profile-header {
      .profile-img-container {
        .profile-img {
          height: 100px;
          width: 100px;
        }
        .profile-title {
          h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
