// ================================================================================================
//  文件名：page-coming-soon.scss
//  描述：敬请期待页面的 SCSS 文件
//  ----------------------------------------------------------------------------------------------
//  项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
//  著作人：Albert.Z
//  官网：http://www.rexotech.cn/
// ================================================================================================

.clockCard {
  float: left;
}

.getting-started {
  font-size: 3rem;
}
.lead {
  font-size: 1rem;
}
