// ===============================================================================================
//  文件名：page-faq.scss
//  描述：常见问题页面的 SCSS 文件
//  ---------------------------------------------------------------------------------------------
//  项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
//  著作人：Albert.Z
//  官网：http://www.rexotech.cn/
// ===============================================================================================

@import '../bootstrap-extended/include';
@import '../components/include';

// 常见问题搜索部件
.faq-search {
  background-size: cover;
  background-color: rgba($primary, 0.12) !important;
  .faq-search-input {
    .input-group {
      // 移除内部焦点上的输入组框阴影
      &:focus-within {
        box-shadow: none;
      }
    }
  }
}

// 联系卡片
.faq-contact {
  .faq-contact-card {
    background-color: rgba($gray-100, 0.12);
  }
}

// LG 及更大屏幕的搜索栏填充
@include media-breakpoint-up(lg) {
  .faq-search {
    .card-body {
      padding: 8rem !important;
    }
  }
}

// MD 屏幕的搜索栏填充
@include media-breakpoint-only(md) {
  .faq-search {
    .card-body {
      padding: 6rem !important;
    }
  }
}

// MD 以上屏幕的搜索栏填充
@include media-breakpoint-up(md) {
  // MD 以上屏幕搜索框宽度固定
  .faq-search {
    .faq-search-input {
      .input-group {
        width: 576px;
        margin: 0 auto;
      }
    }
  }
  // 修复导航折叠时矢量图像不会随折叠移动
  .faq-navigation {
    height: 550px;
  }
}
