// ===============================================================================================
//  文件名：page-pricing.scss
//  描述：定价页面的 SCSS 文件
//  ---------------------------------------------------------------------------------------------
//  项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
//  著作人：Albert.Z
//  官网：http://www.rexotech.cn/
// ===============================================================================================

@import '../bootstrap-extended/include';
@import '../components/include';

// 价格卡片
.pricing-card {
  // 卡片激活态边框
  .card {
    &.popular {
      border: 1px solid $primary;
    }
  }
  // 列表组子项圆圈
  .list-group-circle {
    font-weight: $font-weight-bold;
    color: $headings-color;
  }
  // 月付价格数值
  .annual-plan {
    margin-bottom: 1.7rem;
    .plan-price {
      sup {
        top: -1.5rem;
        left: 0.2rem;
      }
      span {
        font-size: 3.5rem;
        line-height: 0.8;
      }
      sub {
        bottom: 0;
        right: 0.14rem;
      }
    }

    // 年付价格数值
    .annual-pricing {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
}

// 免费试用卡片
.pricing-free-trial {
  height: 16.71rem;
  background-color: rgba(186, 191, 199, 0.12);
  margin-right: -$content-padding;
  margin-left: -$content-padding;
  margin-top: 7.5rem;
  margin-bottom: 6.3rem;

  // 行默认边距设为 0，否则会导致出现水平滚动条
  .row {
    margin: 0;
  }
  // 内容容器
  .pricing-trial-content {
    padding: 0 1rem;
    // 卡片图片
    img {
      position: relative;
      top: -3.1rem;
    }
  }
}

// SM 及以下屏幕免费试用卡片
@include media-breakpoint-down(sm) {
  .pricing-free-trial {
    height: auto;
    .pricing-trial-content {
      flex-direction: column;
      align-items: center;
      .pricing-trial-img {
        top: 0;
        margin-top: 2rem;
        height: 150px;
      }
    }
  }
}

// XS 屏幕免费试用卡片
@include media-breakpoint-down(xs) {
  .pricing-free-trial {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
  }
}
