// ===============================================================================================
//  文件名：ui-colors.scss
//  描述：模板颜色组件 SCSS
//  ---------------------------------------------------------------------------------------------
//  项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
//  著作人：Albert.Z
//  官网：http://www.rexotech.cn/
// ===============================================================================================

@import '../bootstrap-extended/include';
@import '../components/include';

.colors-list {
  li {
    padding: 0.4rem;
    i,
    svg {
      height: 1.2rem;
      width: 1.2rem;
      top: 0;
      position: relative;
      margin-right: 0.25rem;
    }
  }
}
