// ================================================================================================
// 	文件名：semi-dark-layout.scss
// 	描述：混合皮肤布局（深色导航 + 浅色内容） SCSS
// 	----------------------------------------------------------------------------------------------
// 	项目：Rexo-UI - VueJS & HTML 网站/后台管理模板
// 	著作人：Albert.Z
// 	官网：http://www.rexotech.cn/
// ================================================================================================

@import '../bootstrap-extended/include';
@import '../components/include';

.semi-dark-layout {
  // 主导航菜单
  .main-menu {
    background-color: $theme-dark-card-bg;
    .shadow-bottom {
      background: linear-gradient(
        180deg,
        $theme-dark-card-bg 44%,
        rgba($theme-dark-card-bg, 0.51) 73%,
        rgba($theme-dark-card-bg, 0)
      );
    }
    &:not(.expanded) {
      .navigation {
        .sidebar-group-active {
          a {
            background-color: $theme-dark-body-bg;
          }
        }
      }
    }
  }

  // 导航内容
  .main-menu-content {
    .navigation-main {
      background-color: $theme-dark-card-bg;
      .navigation-header {
        color: $theme-dark-text-muted-color;
      }
      .nav-item {
        a {
          color: $theme-dark-body-color;
        }
        &.open {
          a {
            background-color: $theme-dark-body-bg;
          }
        }
        a:after,
        a {
          color: $theme-dark-body-color;
        }
        .menu-content {
          background-color: $theme-dark-card-bg;
          .active {
            .menu-item {
              color: $white;
            }
          }
          li:not(.active) {
            a {
              background-color: $theme-dark-card-bg;
            }
          }
        }
      }
      .active {
        .menu-title,
        i {
          color: $white;
        }
      }
      .sidebar-group-active {
        a {
          background: $theme-dark-card-bg;
          border-radius: 4px;
        }
        .menu-content {
          background-color: $theme-dark-card-bg;
          .active {
            z-index: 1;
            a {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  // 导航折叠时的激活态菜单项颜色
  .menu-collapsed {
    .main-menu:not(.expanded) {
      .navigation-main {
        li.active {
          > a {
            background: $theme-dark-body-bg !important;
            color: $white !important;
          }
        }
      }
    }
  }
}
