// 禁用 X 轴溢出以避免在路由传输时产生的水平滚动条
body {
  overflow-x: hidden;
}

// 垂直导航菜单
.nav-item.has-sub {
  & & li svg {
    display: none;
  }
}

// 副导航栏徽章定位
.header-navbar .navbar-container ul.navbar-nav li.dropdown-cart .badge.badge-up,
.header-navbar .navbar-container ul.navbar-nav li.dropdown-notification .badge.badge-up {
  right: -9px;
}

// 滚动条样式
.horizontal-menu {
  .horizontal-menu-wrapper {
    .navbar-horizontal {
      ul.dropdown-menu {
        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray-500;
          border-radius: 20px;
        }

        &::-webkit-scrollbar-track {
          background: $gray-300;
          border-radius: 30px;
        }
      }
    }
  }
}

// 深色布局
.dark-layout {
  // 修复深色水平导航布局的导航栏颜色
  .horizontal-layout {
    &.navbar-sticky {
      .navbar.header-navbar {
        box-shadow: none;
      }
    }
  }
}
