// 扩展应用 BSV 验证样式
.form-group {
  &.is-invalid {
    // Vue Select
    .v-select {
      .vs__dropdown-toggle {
        border-color: $danger;
      }
    }

    // Flatpickr
    .flatpickr-input {
      border-color: $danger;
    }
  }
}

// 修复工具提示的定位问题（https://github.com/bootstrap-vue/bootstrap-vue/issues/1732）
// .fix-tooltip-position-top {
.tooltip {
  top: 0;
}
