@import '~@core/scss/base/bootstrap-extended/include';

// RTL 模式
[dir='rtl'] {
  // Perfect scrollbar 禁用 x 轴滚动
  body .ps__rail-y {
    right: auto !important;
    left: 1px !important;
  }

  // Flatpickr 月份导航箭头
  .flatpickr-prev-month,
  .flatpickr-next-month {
    svg {
      transform: rotate(180deg);
    }
  }

  // 常见问题/定价页面
  .faq-navigation,
  .pricing-free-trial {
    .pricing-trial-img,
    img {
      transform: scaleX(-1);
    }
  }

  // 宽高比
  .b-aspect {
    .b-aspect-sizer {
      flex-grow: 0 !important;
    }
  }

  // 轮播
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    transform: rotate(180deg);
  }

  // 3D 立方体效果轮播
  .swiper-container-cube.swiper-container-rtl {
    .swiper-slide {
      transform-origin: 100% 0 !important;
    }
  }

  // RTL 模式
  .swiper-container-rtl {
    .swiper-button-prev {
      right: 10px !important;
      left: auto !important;
    }
    .swiper-button-next {
      left: 10px !important;
      right: auto !important;
    }
  }

  // .swiper-container {
  // }

  // 下拉菜单块级按钮
  .dropdown {
    .btn-block,
    .btn-block + .dropdown-toggle-split {
      + .dropdown-menu {
        left: 0 !important;
      }
    }
  }

  // 分页
  .pagination .page-item.next-item .page-link,
  .pagination .page-item .page-link {
    svg {
      transform: rotate(180deg);
    }
  }

  // 气泡弹窗
  .popover {
    right: auto !important;
  }

  // 进度条
  .progress-bar-animated {
    animation: progress-bar-stripes-rtl 40s linear infinite;
  }

  // 时间
  .b-time {
    .b-time-ampm {
      margin-left: 0.5rem;
      margin-right: 0;
    }
  }
  .b-form-timepicker {
    .dropdown-menu {
      // left: 0 !important;
      right: 100%;
      .b-time {
        .b-time-ampm {
          margin-right: 0.5rem;
          margin-left: 0;
        }
      }
    }
  }
  .input-group {
    .input-group-append {
      .b-form-timepicker {
        .dropdown-menu {
          left: 100% !important;
          right: auto;
        }
      }
    }
  }

  // 文本域
  textarea {
    overflow-x: hidden;
  }

  // 日历应用

  // 重置'上月/下月'箭头
  .app-calendar {
    .fc-header-toolbar {
      .fc-prev-button,
      .fc-next-button {
        transform: rotate(180deg);
      }
    }
  }

  // 日历 UI 修正
  .fc-direction-rtl .fc-scroller-harness > .fc-scroller {
    direction: rtl !important;
  }

  .fc .fc-toolbar .fc-button-group {
    .fc-dayGridMonth-button:first-child {
      border-top-left-radius: $border-radius !important;
      border-bottom-left-radius: $border-radius !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .fc-listMonth-button:last-child {
      border-top-right-radius: $border-radius !important;
      border-bottom-right-radius: $border-radius !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}

